.flash {
  border-radius: 5px;
  padding: 10px;
}

.error {
  background-color: rgb(248, 209, 209);
  color: rgb(151, 0, 0);
}

.success {
  background-color: rgb(212, 255, 225);
  color: rgb(5, 49, 0);
}

.mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
  box-shadow: none;
  border: 1px solid rgba(189, 189, 189, 0.6);
}

.marker {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  text-align: center;
}

.popup-title {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0;
}

.popup-address {
  margin: 0;
}

.fa-wheelchair {
  color: #051df8;
}

.fa-genderless {
  color: #dc05f8;
}

.fa-baby {
  color: #05b3f8;
}

.hours-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
  width: 100%;
  max-width: none;
}

#map {
  border-radius: 0.35rem;
}

@media (min-width: 768px) {
  #search-results {
    max-height: 425px;
    overflow: auto;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .map-large {
    padding-left: 0;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }

  #search-results::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    background-color: #f5f5f5;
  }

  #search-results::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5;
  }

  #search-results::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    background-color: #aeadad;
  }
}
